<main class="container paginas pad-2">    
    {{#if user}}
        <div class="row bs_gutter-x-0 justify-content-center" id="sectionWelcome">
            <section class="col-md-9">
                <h2 class="text-center">Bienvenida/o {{user.name}} a nuestra tienda</h2>
                <h4 class="text-center">correo: {{user.email}}</h4>
                <form class="row g-3 text-center" action="/session/logout" id="loginForm" method="post" name="logout">                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
                    </div>
                </form> 
            </section>
            
        </div>
    {{/if}}     
    <div id="error"></div>
    <div class="row bs_gutter-x-0 justify-content-center">
        <!-- Pagina -->
        <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionProductsInput">
            <h2 class="text-center">Ingreso de Productos</h2>
            <article>
                <form class="row g-3" action="/productos" id="productsForm" method="post" name="productos" enctype="multipart/form-data">
                    <div class="col-12">
                        <label for="title" class="form-label">Nombre<span class="requerido">*</span></label>
                        <input required type="text" name="title" id="title" class="form-control" placeholder="Nombre de Producto" aria-label="Nombre">
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Descripción<span class="requerido">*</span></label>
                        <textarea required name="description" id="description" class="form-control" placeholder="Descripción del Producto" aria-label="description"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="price" class="form-label">Precio<span class="requerido">*</span></label>
                        <input required type="number" name="price" id="price" class="form-control" placeholder="Precio de Producto" aria-label="Precio">
                    </div> 
                    <div class="col-12">
                        <label for="code" class="form-label">Código<span class="requerido">*</span></label>
                        <input required type="text" name="code" id="code" class="form-control" placeholder="Código de Producto" aria-label="code">
                    </div>
                    <div class="col-12">
                        <label for="stock" class="form-label">Stock<span class="requerido">*</span></label>
                        <input required type="number" name="stock" id="stock" class="form-control" min="0" step="1" placeholder="Stock de Producto" aria-label="stock">
                    </div>                      
                    <div class="col-12">
                        <label for="thumbnail" class="form-label">Imagen<span class="requerido">*</span></label>
                        <input required type="file" name="thumbnail" id="thumbnail" class="form-control" aria-label="Imagen">
                    </div>
                    <div class="col-12 requerido">*Valor requerido</div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Añadir Producto</button>
                    </div>
                </form> 
            </article>
            <div id="enviando"></div>
        </section>                                
        <section class="col-md-9 pad-bottom-2">
            <h2 class="pb-4 text-center">Vista de Productos</h2>                
            <div class="productos">
                <div class="table-responsive" id="tableTienda">
                    {{#if productos }}
                        <table class="table align-middle">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Imagen</th>
                                </tr>
                            </thead>
                            <tbody id="tableProductos">
                                {{#each productos}}
                                    <tr id="prod_{{this.id}}" class="text-center">                                    
                                        <td>
                                            <a href="/tienda/producto/{{id}}">
                                                {{title}}
                                            </a>
                                        </td>
                                        <td>${{price}}</td>
                                        <td>
                                            <img src="{{thumbnail}}" class="card-img-top" alt="Poleron Amaranta">
                                        </td>                                    
                                    </tr>
                                {{/each}}         
                            </tbody>
                        </table>  
                    {{else}}
                        <div class="text-center">
                            No se encontraron Productos
                        </div>
                    {{/if}}                                      
                </div>
            </div>
        </section> 
        <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionMensajes">
            <h2 class="text-center">Centro de Mensajes</h2>
            <article>
                <div class="centroMensajes"> 
                    {{#if user}}
                        <form action="" method="post" class="g-3" id="mensajesForm">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <span class="p-2 align-self-center">
                                    <label for="name">Correo: <span id="usernameText">{{user.email}}</span></label>
                                    <input type="hidden" value="{{user.email}}" id="username"/>
                                    <input type="hidden" value="{{user.email}}" id="nickname"/>
                                </span>                                 
                                <span class="p-2 align-self-center">
                                    <label for="firstname">Nombre Completo: {{user.name}} {{user.lastname}}</label>
                                    <input type="hidden" value="{{user.name}}" id="firstname"/>
                                    <input type="hidden" value="{{user.lastname}}" id="lastname"/>
                                </span>                                                         
                                <span class="p-2 align-self-center">
                                    <label for="age">Edad: {{user.age}}</label>
                                    <input type="hidden" value="{{user.age}}" id="age"/>
                                </span>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <span class="p-2 flex-grow-1">
                                    <textarea row="2" name="mensaje" id="mensaje" class="form-control" maxlength="140" required="true"></textarea>
                                    <p>max characters: 140 / <span id="numChar">0</span></p>
                                </span>
                                <span class="p-2 ">
                                    <input type="submit" value="Enviar" class="btn btn-primary">
                                </span>
                            </div>
                        </form> 
                    {{else}}
                        <form action="" method="post" class="g-3" id="mensajesForm">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <span class="p-2 align-self-center">
                                    <label for="name">Correo: </label>
                                </span>                            
                                <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                    <input type="email" name="username" id="username" class="form-control" required/>
                                    <span id="usernameText" style="display:none"></span>
                                </span>
                                <span class="p-2 align-self-center">
                                    <label for="firstname">Nombre: </label>
                                </span>
                                <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                    <input type="text" name="firstname" id="firstname" class="form-control" required/>
                                </span>
                                <span class="p-2 align-self-center">
                                    <label for="lastname">Apellido: </label>                                
                                </span>
                                <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                    <input type="text" name="lastname" id="lastname" class="form-control" required/>
                                </span>
                                <span class="p-2 align-self-center">
                                    <label for="age">Edad: </label>
                                </span>
                                <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                    <input type="number" name="age" id="age" class="form-control" required/>
                                </span>
                                <span class="p-2 align-self-center">
                                    <label for="nickname">Alias: </label>
                                </span>
                                <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                    <input type="text" name="nickname" id="nickname" class="form-control" required/>                        
                                </span>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <span class="p-2 flex-grow-1">
                                    <textarea row="2" name="mensaje" id="mensaje" class="form-control" maxlength="140" required="true"></textarea>
                                    <p>max characters: 140 / <span id="numChar">0</span></p>
                                </span>
                                <span class="p-2 ">
                                    <input type="submit" value="Enviar" class="btn btn-primary">
                                </span>
                            </div>
                        </form> 
                    {{/if}}                  
                        
                    <div id="compresion">Aquí aparecerá los datos de compresión normalizado/denormalizado</div>                  
                    <div id="mensajes">      
                        {{#if mensajes }}            
                            {{#each mensajes.mensajes}}  
                                <div>
                                    <span class="avatarMessage"><img src={{author.avatar}} /></span>
                                    <span class="authorMessage">{{author.email}} </span>
                                    <span class="timeMessage">[{{id}}]: </span>
                                    <span class="textMessage">{{mensaje}}</span>
                                </div>   
                            {{/each}}  
                        {{else}}
                            <div id="noMessage" class="text-center">
                                Sin Mensajes
                            </div>       
                        {{/if}}  
                    </div>                 
                </div>
            </article>
        </section>      
    </div>        
</main>