<main class="container paginas pad-2">
    <div id="error"></div>
    <div class="row bs_gutter-x-0 justify-content-center">
        <!-- Pagina: Contacto -->
        <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionProductsInput">
            <h2 class="text-center">Ingreso de Productos</h2>
            <article>
                <form class="row g-3" action="/productos" id="productsForm" method="post" name="productos" enctype="multipart/form-data">
                    <div class="col-12">
                        <label for="title" class="form-label">Nombre<span class="requerido">*</span></label>
                        <input required type="text" name="title" id="title" class="form-control" placeholder="Nombre de Producto" aria-label="Nombre">
                    </div>
                    <div class="col-12">
                        <label for="price" class="form-label">Precio<span class="requerido">*</span></label>
                        <input required type="number" name="price" id="price" class="form-control" placeholder="Precio de Producto" aria-label="Precio">
                    </div>                    
                    <div class="col-12">
                        <label for="thumbnail" class="form-label">Imagen<span class="requerido">*</span></label>
                        <input required type="file" name="thumbnail" id="thumbnail" class="form-control" aria-label="Imagen">
                    </div>                    
                    <div class="col-12 requerido">*Valor requerido</div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Añadir Producto</button>
                    </div>
                </form> 
            </article>
            <div id="enviando"></div>
        </section>                                
        <section class="col-md-9 pad-bottom-2">
            <h2 class="pb-4 text-center">Vista de Productos</h2>                
            <div class="productos">
                <div class="table-responsive" id="tableTienda">
                    {{#if productos }}
                        <table class="table align-middle">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Imagen</th>
                                </tr>
                            </thead>
                            <tbody id="tableProductos">
                                {{#each productos}}
                                    <tr id="prod_{{id}}" class="text-center">                                    
                                        <td>
                                            <a href="/tienda/producto/{{id}}">
                                                {{title}}
                                            </a>
                                        </td>
                                        <td>${{price}}</td>
                                        <td>
                                            <img src="{{thumbnail}}" class="card-img-top" alt="Poleron Amaranta">
                                        </td>                                    
                                    </tr>
                                {{/each}}         
                            </tbody>
                        </table>  
                    {{else}}
                        <div class="text-center">
                            No se encontraron Productos
                        </div>
                    {{/if}}                                      
                </div>
            </div>
        </section> 
        <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionMensajes">
            <h2 class="text-center">Centro de Mensajes</h2>
            <article>
                <div class="centroMensajes">                    
                    <form action="" method="post" class="g-3" id="mensajesForm">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <span class="p-2 align-self-center">
                                <label for="name">Correo: </label>
                            </span>                            
                            <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                <input type="email" name="username" id="username" class="form-control" required/>
                                <span id="usernameText" style="display:none"></span>
                            </span>
                            <span class="p-2 align-self-center">
                                <label for="firstname">Nombre: </label>
                            </span>
                            <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                <input type="text" name="firstname" id="firstname" class="form-control" required/>
                            </span>
                            <span class="p-2 align-self-center">
                                <label for="lastname">Apellido: </label>                                
                            </span>
                            <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                <input type="text" name="lastname" id="lastname" class="form-control" required/>
                            </span>
                            <span class="p-2 align-self-center">
                                <label for="age">Edad: </label>
                            </span>
                            <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                <input type="number" name="age" id="age" class="form-control" required/>
                            </span>
                            <span class="p-2 align-self-center">
                                <label for="nickname">Alias: </label>
                            </span>
                            <span class="w-100 p-2 flex-grow-1 align-self-center">                                
                                <input type="text" name="nickname" id="nickname" class="form-control" required/>                        
                            </span>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <span class="p-2 flex-grow-1">
                                <textarea row="2" name="mensaje" id="mensaje" class="form-control" maxlength="140" required="true"></textarea>
                                <p>max characters: 140 / <span id="numChar">0</span></p>
                            </span>
                            <span class="p-2 ">
                                <input type="submit" value="Enviar" class="btn btn-primary">
                            </span>
                        </div>
                    </form>     
                    <div id="compresion">Aquí aparecerá los datos de compresión normalizado/denormalizado</div>                  
                    <div id="mensajes">      
                        {{#if mensajes }}            
                            {{#each mensajes.mensajes}}  
                                <div>
                                    <span class="avatarMessage"><img src={{author.avatar}} /></span>
                                    <span class="authorMessage">{{author.email}} </span>
                                    <span class="timeMessage">[{{id}}]: </span>
                                    <span class="textMessage">{{mensaje}}</span>
                                </div>   
                            {{/each}}  
                        {{else}}
                            <div id="noMessage" class="text-center">
                                Sin Mensajes
                            </div>       
                        {{/if}}  
                    </div>                 
                </div>
            </article>
        </section>      
    </div>        
</main>